/*
    - KIINSTYLE CSS FRAMEWORK
    - AUTHOR: JURI KIIN
    - CONTACT: me@jurikiin.com
    - LAST UPDATED: 5/30/2019
*/

/* IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html{
    scroll-behavior: smooth;
}

/* ------------ Body (body-name) ------------ */
.body-clear{
    margin:0;
    padding:0;
}

/* ------------ Text Color (colorName) ------------ */
.grass{
    color: #20c544;
}
.water{
    color: #206dc5;
}
.fire{
    color: #c53320;
}
.rock{
    color: #707070;
}
.silk{
    color:#2A1E5C;
}
.coal{
    color:black;
}
.snow{
    color:white;
}

/* ------------ Background Color (bg-colorName) ------------ */
.bg-grass{
    background-color: #20c544;
}
.bg-water{
    background-color: #206dc5;
}
.bg-fire{
    background-color: #c53320;
}
.bg-rock{
    background-color: #5D675B;
}
.bg-silk{
    background-color:#2A1E5C;
}
.bg-coal{
    background-color:black;
}
.bg-snow{
    background-color:white;
}
.bg-water-gradient{
    background: rgb(42,30,92);
    background: linear-gradient(90deg, rgba(42,30,92,1) 40%, rgba(32,109,197,1) 100%);
}
.bg-clear{
    background-color: transparent;
}

/* ------------ Header (header-) ------------*/
/* ------------ Footers (footer-) ------------*/
.footer{
    margin-top:2%;
    text-align: center;
    left:0;
    right:0;
    bottom:0;
}
/* ------------ Lists (list-type) ------------*/
.list-clear{
    list-style-type: none;
    margin: 0;
    padding: 0
}
.list-inline{
    display: inline;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* ------------ List Items (item-#) ------------*/
.item-100{
    width:100%;
}
.item-90{
    width:90%;
}
.item-75{
    width:75%;
}
.item-50{
    width:50%;
}
.item-25{
    width:25%;
}
.item-20{
    width:20%;
}
.item-10{
    width:10%;
}
.item-auto{
    width:auto;
}
/* ------------ Alignment (align-) ------------*/
.align-center{
    text-align: center;
}
.align-left{
    text-align:left;
}
.align-right{
    text-align:right;
}

/* ------------ MARGINS (margin-(sides)-# ------------*/
/* 0 */
.margin-0{
    margin:0;
}
.margin-top-0{
    margin-top:0;
}
.margin-left-0{
    margin-left:0;
}
.margin-bottom-0{
    margin-bottom: 0;
}
.margin-right-0{
    margin-right:0;
}
/* 5% */
.margin-5{
    margin:5%;
}
.margin-top-5{
    margin-top:5%;
}
.margin-left-5{
    margin-left:5%;
}
.margin-bottom-5{
    margin-bottom: 5%;
}
.margin-right-5{
    margin-right:5%;
}
/* 10% */
.margin-10{
    margin:10%;
}
.margin-top-10{
    margin-top:10%;
}
.margin-left-10{
    margin-left:10%;
}
.margin-bottom-10{
    margin-bottom: 10%;
}
.margin-right-10{
    margin-right:10%;
}
/* 20% */
.margin-20{
    margin:20%;
}
.margin-top-20{
    margin-top:20%;
}
.margin-left-20{
    margin-left:20%;
}
.margin-bottom-20{
    margin-bottom: 20%;
}
.margin-right-20{
    margin-right:20%;
}
/* 25% */
.margin-25{
    margin:25%;
}
.margin-top-25{
    margin-top:25%;
}
.margin-left-25{
    margin-left:25%;
}
.margin-bottom-25{
    margin-bottom: 25%;
}
.margin-right-25{
    margin-right:25%;
}
/* 50% */
.margin-50{
    margin:50%;
}
.margin-top-50{
    margin-top:50%;
}
.margin-left-50{
    margin-left:50%;
}
.margin-bottom-50{
    margin-bottom: 50%;
}
.margin-right-50{
    margin-right:50%;
}
/* 75% */
.margin-75{
    margin:75%;
}
.margin-top-75{
    margin-top:75%;
}
.margin-left-75{
    margin-left:75%;
}
.margin-bottom-75{
    margin-bottom: 75%;
}
.margin-right-75{
    margin-right:75%;
}
/* 100% */
.margin-100{
    margin:100%;
}
.margin-top-100{
    margin-top:100%;
}
.margin-left-100{
    margin-left:100%;
}
.margin-bottom-100{
    margin-bottom: 100%;
}
.margin-right-100{
    margin-right:100%;
}
/* 10px */
.margin-10p{
    margin:10px;
}
.margin-top-10p{
    margin-top:10px;
}
.margin-left-10p{
    margin-left:10px;
}
.margin-bottom-10p{
    margin-bottom: 10px;
}
.margin-right-10p{
    margin-right:10px;
}
/* ------------ PADDING (pad-(sides)-# ------------*/
.pad-0{
    padding:0;
}
/* 10px */
.pad-10p{
    padding:10px;
}
.pad-top-10p{
    padding-top:10px;
}
.pad-left-10p{
    padding-left:10px;
}
.pad-bottom-10p{
    padding-bottom: 10px;
}
.pad-right-10p{
    padding-right:10px;
}
/* 20px */
.pad-20p{
    padding:20px;
}
.pad-top-20p{
    padding-top:20px;
}
.pad-left-20p{
    padding-left:20px;
}
.pad-bottom-20p{
    padding-bottom:20px;
}
.pad-right-20p{
    padding-right:20px;
}
/* 50px */
.pad-50p{
    padding:50px;
}
.pad-top-50p{
    padding-top:50px;
}
.pad-left-50p{
    padding-left:50px;
}
.pad-bottom-50p{
    padding-bottom:50px;
}
.pad-right-50p{
    padding-right:50px;
}

/* 5% */
.pad-5{
    padding:5%;
}
.pad-top-5{
    padding-top:5%;
}
.pad-left-5{
    padding-left:5%;
}
.pad-bottom-5{
    padding-bottom: 5%;
}
.pad-right-5{
    padding-right:5%;
}
/* 10% */
.pad-10{
    padding:10%;
}
.pad-top-10{
    padding-top:10%;
}
.pad-left-10{
    padding-left:10%;
}
.pad-bottom-10{
    padding-bottom: 10%;
}
.pad-right-10{
    padding-right:10%;
}
/* 20% */
.pad-20{
    padding:20%;
}
.pad-top-20{
    padding-top:20%;
}
.pad-left-20{
    padding-left:20%;
}
.pad-bottom-20{
    padding-bottom: 20%;
}
.pad-right-20{
    padding-right:20%;
}
/* 25% */
.pad-25{
    padding:25%;
}
.pad-top-25{
    padding-top:25%;
}
.pad-left-25{
    padding-left:25%;
}
.pad-bottom-25{
    padding-bottom: 25%;
}
.pad-right-25{
    padding-right:25%;
}
/* 50% */
.pad-50{
    padding:50%;
}
.pad-top-50{
    padding-top:50%;
}
.pad-left-50{
    padding-left:50%;
}
.pad-bottom-50{
    padding-bottom: 50%;
}
.pad-right-50{
    padding-right:50%;
}
/* 75% */
.pad-75{
    padding:75%;
}
.pad-top-75{
    padding-top:75%;
}
.pad-left-75{
    padding-left:75%;
}
.pad-bottom-75{
    padding-bottom: 75%;
}
.pad-right-75{
    padding-right:75%;
}
/* 100% */
.pad-100{
    padding:100%;
}
.pad-top-100{
    padding-top:100%;
}
.pad-left-100{
    padding-left:100%;
}
.pad-bottom-100{
    padding-bottom: 100%;
}
.pad-right-100{
    padding-right:100%;
}
/* ------------ Font Size (font-sz)------------*/
.font-xxl{
    font-size: 100px;
}
.font-xl{
    font-size:75px;
}
.font-lg{
    font-size: 50px;
}
.font-md{
    font-size: 25px;
}
.font-sm{
    font-size: 12px;
}
.font-xs{
    font-size: 8px;
}

/* ------------ Font Types (font-nm)------------*/
.font-header{
    font-family: 'Open Sans', sans-serif;
}
.font-text{
    font-family: 'Raleway', sans-serif;
}
.font-default{
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------ Font Effect (font-nm)------------ */
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.ul {
    text-decoration: underline;
}
.none{
    text-decoration: none;
}

/* ------------ Columns  (CURRENTLY UNSUPPORTED) ------------*/
[class*='col-'] {
    float: left; 
    min-height: 1px;
}

.col-1{
    width:100%;
}
.col-2{
    width:50%;
}
.col-3{
    width:33.33%;
}
.col-4{
    width:25%;
}
.col-5{
    width:20%;
}
.col-6{
    width:16.66%;
}
.col-8{
    width:12.5%;
}
.col-10{
    width:10%;
}
.col-12{
    width:8%;
}
/* ------------ Height (height-#) ------------*/
.height-0{
    height:0;
}
.height-5{
    height:5px;
}
.height-10{
    height:10px;
}
.height-20{
    height:20px;
}
.height-25{
    height:25px;
}
.height-50{
    height:50px;
}
.height-75{
    height:75px;
}
.height-100{
    height:100px;
}
.height-150{
    height: 150px;
}
.height-auto{
    height:auto;
}
.height-full{
    height: 100vh;
}
.height-half{
    height:50vh;
}
.height-quart{
    height:25vh;
}
.height-triquart{
    height:75vh;
}

/* ------------ Line Height (l-height-#) ------------*/
.l-height-0{
    line-height:0;
}
.l-height-5{
    line-height:5px;
}
.l-height-10{
    line-height:10px;
}
.l-height-20{
    line-height:20px;
}
.l-height-25{
    line-height:25px;
}
.l-height-50{
    line-height:50px;
}
.l-height-75{
    line-height:75px;
}
.l-height-100{
    line-height:100px;
}
.l-height-150{
    line-height: 150px;
}

/* ------------ Display (d-type)------------*/
.d-inline{
    display: inline;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.d-none{
    display: none;
}
.d-initial{
    display: initial;
}

/* ------------ Floats (f-direction) ------------*/
.f-left{
    float: left;
}
.f-right{
    float:right;
}
/* ----------- Links ------------*/
[class*='link'] {
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.pointer{
    cursor: pointer;
}

.link{
    text-decoration: underline;
}
.link-clear{
    text-decoration: none;
}
.link-hover{
    text-decoration: none;
}
.link-hover:hover{
    color:#2A1E5C;
    text-decoration: underline;
}
.link-hover-subtle{
    text-decoration: none;
}
.link-hover-subtle:hover{
    text-decoration: underline;
}

/* ----------- Overflow ------------*/
.o-scroll{
    overflow: scroll;
}
.o-hidden{
    overflow: hidden;
}
.o-auto{
    overflow:auto;
}
.o-x{
    overflow-x: scroll;
}

/* ----------- Position ------------*/
.fixed{
    position:fixed;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.center{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ----------- Button ------------*/
.button{
    width:25%;
    height:75px;
    margin-left:37.5%;
    margin-right:37.5%;
    background-color: transparent;
    border: 1px solid #c53320;
    transition:all .25s ease-in-out;
}
.button:hover{
    background-color: #c53320;
    color:white;
    cursor:pointer;
    border-radius: 10px;
}

/* ------------ HR (break-) ------------*/
.break{
    margin: 5% 10%;
    border: 1px solid #5D675B;
}

/* ------------ Code (For displaying code) ------------*/
.code{
    background-color: #d9dce0;
    white-space: nowrap;
    overflow-x: scroll;
}

/* ------------ Absolute Spacing (direction-) ------------*/
.left-0{
    left:0;
}
.left-5{
    left:5%;
}
.left-10{
    left:10%;
}
.left-20{
    left:20%;
}
.left-25{
    left:25%;
}
.left-50{
    left:50%;
}
.right-0{
    right:0;
}
.right-0{
    right:5%;
}
.right-0{
    right:10%;
}
.right-0{
    right:20%;
}
.right-0{
    right:25%;
}
.right-0{
    right:50%;
}
.top-0{
    top:0;
}
.top-5{
    top:5%;
}
.top-10{
    top:10%;
}
.top-20{
    top:20%;
}
.top-25{
    top:25%;
}
.top-50{
    top:50%;
}
.bottom-0{
    bottom:0;
}
.bottom-5{
    bottom:5%;
}
.bottom-10{
    bottom:10%;
}
.bottom-20{
    bottom:20%;
}
.bottom-25{
    bottom:25%;
}
.bottom-50{
    bottom:50%;
}


/* ------------ BORDER ------------ */
.bor-1{
    border: 1px solid black;
}
.bor-2{
    border: 2px solid black;
}
.bor-5{
    border: 5px solid black;
}
.bor-left-1{
    border-left: 1px solid black;
}
.bor-left-2{
    border-left: 2px solid black;
}
.bor-left-5{
    border-left: 5px solid black;
}
.bor-right-1{
    border-right: 1px solid black;
}
.bor-right-2{
    border-right: 2px solid black;
}
.bor-right-5{
    border-right: 5px solid black;
}
.bor-top-1{
    border-top: 1px solid black;
}
.bor-top-2{
    border-top: 2px solid black;
}
.bor-top-5{
    border-top: 5px solid black;
}
.bor-bot-1{
    border-bottom: 1px solid black;
}
.bor-bot-2{
    border-bottom: 2px solid black;
}
.bor-bot-5{
    border-bottom: 5px solid black;
}
.bor-none{
    border:none;
}

/* ------------ GRID ------------ */
.grid-1{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 100%;
}
.grid-2{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 50% 50%;
}
.grid-3{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.grid-4{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
}
.grid-5{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
}
.grid-1 > *, .grid-2 > *, .grid-3 > *, .grid-4 > *, .grid-5 > *{
    display: flex;
    justify-content: center;
    justify-items: center;
}
/* ------------ Animation ------------ */
.zoom, .shrink, .twist-r, .twist-l, .slide-r, .slide-l, .slide-u, .slide-d{
    transition: .25s all ease-in-out;
}
.zoom:hover{
    transform: scale(1.15);
}
.shrink:hover{
    transform: scale(0.85);
}
.twist-r:hover{
    transform: rotateZ(25deg);
}
.twist-l:hover{
    transform: rotateZ(-25deg);
}
.slide-r:hover{
    transform: translateX(10px);
}
.slide-l:hover{
    transform: translateX(-10px);
}
.slide-u:hover{
    transform: translateY(-10px);
}
.slide-d:hover{
    transform: translateY(10px);
}
.pulse:hover{
    animation: pulse 1s infinite;
}
@keyframes pulse {
    from { transform: scale(1); }
    50% { transform: scale(0.85); }
    to { transform: scale(1); }
}
.shake:hover{
    animation: shake 1s infinite;
}
@keyframes shake {
    from { transform: rotateZ(-15deg); }
    50% { transform: rotateZ(15deg); }
    to { transform: rotateZ(-15deg); }
}
.spin-r:hover{
    animation: spin-r 1s;
}
@keyframes spin-r {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.spin-l:hover{
    animation: spin-l 1s;
}
@keyframes spin-l {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}


/* ------------ Sections (sect) ------------ */
.sect {
    height:100vh;
    width:100%;
}

/* ------------ Background Images ------------ */
.bg-par{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* ------------ Border Radius ------------ */
.rad-5{
    border-radius: 5%;
}
.rad-5p{
    border-radius: 5px;
}
.rad-10{
    border-radius: 10%;
}
.rad-10p{
    border-radius: 10px;
}
.rad-25{
    border-radius: 25%;
}
.rad-25p{
    border-radius: 25px;
}
.rad-50{
    border-radius: 50%;
}
.rad-50p{
    border-radius: 50px;
}
.rad-100{
    border-radius: 100%;
}
.rad-100p{
    border-radius: 100px;
}

/* ------------ TOOL TIP ------------ */
.tooltip{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}
.tooltip-show{
    visibility: visible;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5%;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 10%;
    margin-left: -60px;
}

/* Tooltip arrow */
.tooltip-show::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 25%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* ------------ EDITOR STYLES ------------ */
.editor-highlight {
    background-color: #c5332083;
    cursor: pointer;
    opacity: .7;
}
.editor-selected {
    border: 1px solid #1d31e6;
    cursor: pointer;
}
.editor-body-selected {
    background-color: #dddddd86;
    cursor: pointer;
}

/* ------------ MEDIA QUERIES ------------ */
@media screen and (max-width: 750px) {
    .font-xxl{
        font-size: 50px;
    }
    .font-xl{
        font-size:40px;
    }
    .font-lg{
        font-size: 25px;
    }
    .font-md{
        font-size: 15px;
    }
    .button{
        width:50%;
        margin-left:25%;
        margin-right:25%;
    }

    /* (MOBILE) ------------ Body (body-name) ------------ */
    .m-body-clear{
        margin:0 !important;
        padding:0 !important;
    }

    /* (MOBILE) ------------ Text Color (colorName) ------------ */
    .m-grass{
        color: #20c544 !important;
    }
    .m-water{
        color: #206dc5 !important;
    }
    .m-fire{
        color: #c53320 !important;
    }
    .m-rock{
        color: #707070 !important;
    }
    .m-silk{
        color:#2A1E5C !important;
    }
    .m-coal{
        color:black !important;
    }
    .m-snow{
        color:white !important;
    }

    /* (MOBILE) ------------ Background Color (bg-colorName) ------------ */
    .m-bg-grass{
        background-color: #20c544 !important;
    }
    .m-bg-water{
        background-color: #206dc5 !important;
    }
    .m-bg-fire{
        background-color: #c53320 !important;
    }
    .m-bg-rock{
        background-color: #5D675B !important;
    }
    .m-bg-silk{
        background-color:#2A1E5C !important;
    }
    .m-bg-coal{
        background-color:black !important;
    }
    .m-bg-snow{
        background-color:white !important;
    }
    .m-bg-water-gradient{
        background: rgb(42,30,92) !important;
        background: linear-gradient(90deg, rgba(42,30,92,1) 40%, rgba(32,109,197,1) 100%) !important;
    }

    /* (MOBILE) ------------ Header (header-) ------------*/
    /* (MOBILE) ------------ Footers (footer-) ------------*/
    .m-footer{
        margin-top:2% !important;
        text-align: center !important;
        left:0 !important;
        right:0 !important;
        bottom:0 !important;
    }
    /* (MOBILE) ------------ Lists (list-type) ------------*/
    .m-list-clear{
        list-style-type: none !important;
        margin: 0 !important;
        padding: 0
    }
    .m-list-inline{
        display: inline !important;
        text-align: center !important;
        padding: 14px 16px !important;
        text-decoration: none !important;
    }
    /* (MOBILE) ------------ List Items (item-#) ------------*/
    .m-item-100{
        width:100% !important;
    }
    .m-item-90{
        width:90%;
    }
    .m-item-75{
        width:75% !important;
    }
    .m-item-50{
        width:50% !important;
    }
    .m-item-25{
        width:25% !important;
    }
    .m-item-20{
        width:20% !important;
    }
    .m-item-10{
        width:10% !important;
    }
    .m-item-auto{
        width:auto !important;
    }
    /* (MOBILE) ------------ Alignment (align-) ------------*/
    .m-align-center{
        text-align: center !important;
    }
    .m-align-left{
        text-align:left !important;
    }
    .m-align-right{
        text-align:right !important;
    }

    /* (MOBILE) ------------ MARGINS (margin-(sides)-# ------------*/
    /* (MOBILE) 0 */
    .m-margin-0{
        margin:0 !important;
    }
    .m-margin-top-0{
        margin-top:0 !important;
    }
    .m-margin-left-0{
        margin-left:0 !important;
    }
    .m-margin-bottom-0{
        margin-bottom: 0 !important;
    }
    .m-margin-right-0{
        margin-right:0 !important;
    }
    /* (MOBILE) 5% */
    .m-margin-5{
        margin:5% !important;
    }
    .m-margin-top-5{
        margin-top:5% !important;
    }
    .m-margin-left-5{
        margin-left:5% !important;
    }
    .m-margin-bottom-5{
        margin-bottom: 5% !important;
    }
    .m-margin-right-5{
        margin-right:5% !important;
    }
    /* (MOBILE) 10% */
    .m-margin-10{
        margin:10% !important;
    }
    .m-margin-top-10{
        margin-top:10% !important;
    }
    .m-margin-left-10{
        margin-left:10% !important;
    }
    .m-margin-bottom-10{
        margin-bottom: 10% !important;
    }
    .m-margin-right-10{
        margin-right:10% !important;
    }
    /* (MOBILE) 20% */
    .m-margin-20{
        margin:20% !important;
    }
    .m-margin-top-20{
        margin-top:20% !important;
    }
    .m-margin-left-20{
        margin-left:20% !important;
    }
    .m-margin-bottom-20{
        margin-bottom: 20% !important;
    }
    .m-margin-right-20{
        margin-right:20% !important;
    }
    /* (MOBILE) 25% */
    .m-margin-25{
        margin:25% !important;
    }
    .m-margin-top-25{
        margin-top:25% !important;
    }
    .m-margin-left-25{
        margin-left:25% !important;
    }
    .m-margin-bottom-25{
        margin-bottom: 25% !important;
    }
    .m-margin-right-25{
        margin-right:25% !important;
    }
    /* (MOBILE) 50% */
    .m-margin-50{
        margin:50% !important;
    }
    .m-margin-top-50{
        margin-top:50% !important;
    }
    .m-margin-left-50{
        margin-left:50% !important;
    }
    .m-margin-bottom-50{
        margin-bottom: 50% !important;
    }
    .m-margin-right-50{
        margin-right:50% !important;
    }
    /* (MOBILE) 75% */
    .m-margin-75{
        margin:75% !important;
    }
    .m-margin-top-75{
        margin-top:75% !important;
    }
    .m-margin-left-75{
        margin-left:75% !important;
    }
    .m-margin-bottom-75{
        margin-bottom: 75% !important;
    }
    .m-margin-right-75{
        margin-right:75% !important;
    }
    /* (MOBILE) 100% */
    .m-margin-100{
        margin:100% !important;
    }
    .m-margin-top-100{
        margin-top:100% !important;
    }
    .m-margin-left-100{
        margin-left:100% !important;
    }
    .m-margin-bottom-100{
        margin-bottom: 100% !important;
    }
    .m-margin-right-100{
        margin-right:100% !important;
    }
    /* (MOBILE) 10px */
    .m-margin-10p{
        margin:10px !important;
    }
    .m-margin-top-10p{
        margin-top:10px !important;
    }
    .m-margin-left-10p{
        margin-left:10px !important;
    }
    .m-margin-bottom-10p{
        margin-bottom: 10px !important;
    }
    .m-margin-right-10p{
        margin-right:10px !important;
    }
    /* (MOBILE) ------------ PADDING (pad-(sides)-# ------------*/
    .m-pad-0{
        padding:0 !important;
    }
    /* (MOBILE) 10px */
    .m-pad-10p{
        padding:10px !important;
    }
    .m-pad-top-10p{
        padding-top:10px !important;
    }
    .m-pad-left-10p{
        padding-left:10px !important;
    }
    .m-pad-bottom-10p{
        padding-bottom: 10px !important;
    }
    .m-pad-right-10p{
        padding-right:10px !important;
    }
    /* (MOBILE) 20px */
    .m-pad-20p{
        padding:20px !important;
    }
    .m-pad-top-20p{
        padding-top:20px !important;
    }
    .m-pad-left-20p{
        padding-left:20px !important;
    }
    .m-pad-bottom-20p{
        padding-bottom:20px !important;
    }
    .m-pad-right-20p{
        padding-right:20px !important;
    }
    /* (MOBILE) 50px */
    .m-pad-50p{
        padding:50px !important;
    }
    .m-pad-top-50p{
        padding-top:50px !important;
    }
    .m-pad-left-50p{
        padding-left:50px !important;
    }
    .m-pad-bottom-50p{
        padding-bottom:50px !important;
    }
    .m-pad-right-50p{
        padding-right:50px !important;
    }

    /* (MOBILE) 5% */
    .m-pad-5{
        padding:5% !important;
    }
    .m-pad-top-5{
        padding-top:5% !important;
    }
    .m-pad-left-5{
        padding-left:5% !important;
    }
    .m-pad-bottom-5{
        padding-bottom: 5% !important;
    }
    .m-pad-right-5{
        padding-right:5% !important;
    }
    /* (MOBILE) 10% */
    .m-pad-10{
        padding:10% !important;
    }
    .m-pad-top-10{
        padding-top:10% !important;
    }
    .m-pad-left-10{
        padding-left:10% !important;
    }
    .m-pad-bottom-10{
        padding-bottom: 10% !important;
    }
    .m-pad-right-10{
        padding-right:10% !important;
    }
    /* (MOBILE) 20% */
    .m-pad-20{
        padding:20% !important;
    }
    .m-pad-top-20{
        padding-top:20% !important;
    }
    .m-pad-left-20{
        padding-left:20% !important;
    }
    .m-pad-bottom-20{
        padding-bottom: 20% !important;
    }
    .m-pad-right-20{
        padding-right:20% !important;
    }
    /* (MOBILE) 25% */
    .m-pad-25{
        padding:25% !important;
    }
    .m-pad-top-25{
        padding-top:25% !important;
    }
    .m-pad-left-25{
        padding-left:25% !important;
    }
    .m-pad-bottom-25{
        padding-bottom: 25% !important;
    }
    .m-pad-right-25{
        padding-right:25% !important;
    }
    /* (MOBILE) 50% */
    .m-pad-50{
        padding:50% !important;
    }
    .m-pad-top-50{
        padding-top:50% !important;
    }
    .m-pad-left-50{
        padding-left:50% !important;
    }
    .m-pad-bottom-50{
        padding-bottom: 50% !important;
    }
    .m-pad-right-50{
        padding-right:50% !important;
    }
    /* (MOBILE) 75% */
    .m-pad-75{
        padding:75% !important;
    }
    .m-pad-top-75{
        padding-top:75% !important;
    }
    .m-pad-left-75{
        padding-left:75% !important;
    }
    .m-pad-bottom-75{
        padding-bottom: 75% !important;
    }
    .m-pad-right-75{
        padding-right:75% !important;
    }
    /* (MOBILE) 100% */
    .m-pad-100{
        padding:100% !important;
    }
    .m-pad-top-100{
        padding-top:100% !important;
    }
    .m-pad-left-100{
        padding-left:100% !important;
    }
    .m-pad-bottom-100{
        padding-bottom: 100% !important;
    }
    .m-pad-right-100{
        padding-right:100% !important;
    }
    /* (MOBILE) ------------ Font Size (font-sz)------------*/
    .m-font-xxl{
        font-size: 100px !important;
    }
    .m-font-xl{
        font-size:75px !important;
    }
    .m-font-lg{
        font-size: 50px !important;
    }
    .m-font-md{
        font-size: 25px !important;
    }
    .m-font-sm{
        font-size: 12px !important;
    }
    .m-font-xs{
        font-size: 8px !important;
    }

    /* (MOBILE) ------------ Font Types (font-nm)------------*/
    .m-font-header{
        font-family: 'Open Sans', sans-serif !important;
    }
    .m-font-text{
        font-family: 'Raleway', sans-serif !important;
    }
    .m-font-default{
        font-family: Arial, Helvetica, sans-serif !important;
    }

    /* (MOBILE) ------------ Font Effect (font-nm)------------ */
    .m-bold{
        font-weight: bold !important;
    }
    .m-italic{
        font-style: italic !important;
    }
    .m-ul {
        text-decoration: underline !important;
    }

    /* (MOBILE) ------------ Columns  (CURRENTLY UNSUPPORTED) ------------*/
    [class*='col-'] {
        float: left !important; 
        min-height: 1px !important;
    }

    .m-col-1{
        width:100% !important;
    }
    .m-col-2{
        width:50% !important;
    }
    .m-col-3{
        width:33.33% !important;
    }
    .m-col-4{
        width:25% !important;
    }
    .m-col-5{
        width:20% !important;
    }
    .m-col-6{
        width:16.66% !important;
    }
    .m-col-8{
        width:12.5% !important;
    }
    .m-col-10{
        width:10% !important;
    }
    .m-col-12{
        width:8% !important;
    }
    /* (MOBILE) ------------ Height (height-#) ------------*/
    .m-height-0{
        height:0 !important;
    }
    .m-height-5{
        height:5px !important;
    }
    .m-height-10{
        height:10px !important;
    }
    .m-height-20{
        height:20px !important;
    }
    .m-height-25{
        height:25px !important;
    }
    .m-height-50{
        height:50px !important;
    }
    .m-height-75{
        height:75px !important;
    }
    .m-height-100{
        height:100px !important;
    }
    .m-height-150{
        height: 150px !important;
    }
    .m-height-auto{
        height:auto !important;
    }
    .m-height-full{
        height: 100vh !important;
    }
    .m-height-half{
        height:50vh !important;
    }
    .m-height-quart{
        height:25vh !important;
    }
    .m-height-triquart{
        height:75vh !important;
    }

    /* (MOBILE) ------------ Line Height (l-height-#) ------------*/
    .m-l-height-0{
        line-height:0 !important;
    }
    .m-l-height-5{
        line-height:5px !important;
    }
    .m-l-height-10{
        line-height:10px !important;
    }
    .m-l-height-20{
        line-height:20px !important;
    }
    .m-l-height-25{
        line-height:25px !important;
    }
    .m-l-height-50{
        line-height:50px !important;
    }
    .m-l-height-75{
        line-height:75px !important;
    }
    .m-l-height-100{
        line-height:100px !important;
    }
    .m-l-height-150{
        line-height: 150px !important;
    }

    /* (MOBILE) ------------ Display (d-type)------------*/
    .m-d-inline{
        display: inline !important;
    }
    .m-d-block{
        display: block !important;
    }
    .m-d-inline-block{
        display: inline-block !important;
    }
    .m-d-none{
        display: none !important;
    }

    /* (MOBILE) ------------ Floats (f-direction) ------------*/
    .m-f-left{
        float: left !important;
    }
    .m-f-right{
        float:right !important;
    }
    /* (MOBILE) ----------- Links ------------*/
    [class*='link'] {
        cursor: pointer !important;
        transition: all .2s ease-in-out !important;
    }

    .m-link{
        text-decoration: underline !important;
    }
    .m-link-clear{
        text-decoration: none !important;
    }
    .m-link-hover{
        text-decoration: none !important;
    }
    .m-link-hover:hover{
        color:#2A1E5C !important;
        text-decoration: underline !important;
    }
    .m-link-hover-subtle{
        text-decoration: none !important;
    }
    .m-link-hover-subtle:hover{
        text-decoration: underline !important;
    }

    /* (MOBILE) ----------- Overflow ------------*/
    .m-o-scroll{
        overflow: scroll !important;
    }
    .m-o-hidden{
        overflow: hidden !important;
    }
    .m-o-auto{
        overflow:auto !important;
    }
    .m-o-x{
        overflow-x: scroll !important;
    }

    /* (MOBILE) ----------- Position ------------*/
    .m-fixed{
        position:fixed !important;
    }
    .m-relative{
        position: relative !important;
    }

    /* (MOBILE) ----------- Button ------------*/
    .m-button{
        width:25% !important;
        height:75px !important;
        margin-left:37.5% !important;
        margin-right:37.5% !important;
        background-color: transparent !important;
        border: 1px solid #c53320 !important;
        transition:all .25s ease-in-out !important;
    }
    .m-button:hover{
        background-color: #c53320 !important;
        color:white !important;
        cursor:pointer !important;
        border-radius: 10px !important;
    }

    /* (MOBILE) ------------ HR (break-) ------------*/
    .m-break{
        margin: 5% 10% !important;
        border: 1px solid #5D675B !important;
    }

    /* (MOBILE) ------------ Code (For displaying code) ------------*/
    .m-code{
        background-color: #d9dce0 !important;
        line-height: 50px !important;
        white-space: nowrap !important;
        overflow-x: scroll;
    }

    /* (MOBILE) ------------ Absolute Spacing (direction-) ------------*/
    .m-left-0{
        left:0 !important;
    }
    .m-left-5{
        left:5% !important;
    }
    .m-left-10{
        left:10% !important;
    }
    .m-left-20{
        left:20% !important;
    }
    .m-left-25{
        left:25% !important;
    }
    .m-left-50{
        left:50% !important;
    }
    .m-right-0{
        right:0 !important;
    }
    .m-right-0{
        right:5% !important;
    }
    .m-right-0{
        right:10% !important;
    }
    .m-right-0{
        right:20% !important;
    }
    .m-right-0{
        right:25% !important;
    }
    .m-right-0{
        right:50% !important;
    }
    .m-top-0{
        top:0 !important;
    }
    .m-top-5{
        top:5% !important;
    }
    .m-top-10{
        top:10% !important;
    }
    .m-top-20{
        top:20% !important;
    }
    .m-top-25{
        top:25% !important;
    }
    .m-top-50{
        top:50% !important;
    }
    .m-bottom-0{
        bottom:0 !important;
    }
    .m-bottom-0{
        bottom:5% !important;
    }
    .m-bottom-0{
        bottom:10% !important;
    }
    .m-bottom-0{
        bottom:20% !important;
    }
    .m-bottom-0{
        bottom:25% !important;
    }
    .m-bottom-0{
        bottom:50% !important;
    }


    /* (MOBILE) ------------ BORDER ------------ */
    .m-bor-1{
        border: 1px solid black !important;
    }
    .m-bor-2{
        border: 2px solid black !important;
    }
    .m-bor-5{
        border: 5px solid black !important;
    }
    .m-bor-left-1{
        border-left: 1px solid black !important;
    }
    .m-bor-left-2{
        border-left: 2px solid black !important;
    }
    .m-bor-left-5{
        border-left: 5px solid black !important;
    }
    .m-bor-right-1{
        border-right: 1px solid black !important;
    }
    .m-bor-right-2{
        border-right: 2px solid black !important;
    }
    .m-bor-right-5{
        border-right: 5px solid black !important;
    }
    .m-bor-top-1{
        border-top: 1px solid black !important;
    }
    .m-bor-top-2{
        border-top: 2px solid black !important;
    }
    .m-bor-top-5{
        border-top: 5px solid black !important;
    }
    .m-bor-bot-1{
        border-bottom: 1px solid black !important;
    }
    .m-bor-bot-2{
        border-bottom: 2px solid black !important;
    }
    .m-bor-bot-5{
        border-bottom: 5px solid black !important;
    }

    /* (MOBILE) ------------ GRID ------------ */
    .m-grid-1{
        display: grid !important;
        grid-template-rows: auto !important;
        justify-content: center !important;
        justify-items: center !important;
        grid-template-columns: 100% !important;
    }
    .m-grid-2{
        display: grid !important;
        grid-template-rows: auto !important;
        justify-content: center !important;
        justify-items: center !important;
        grid-template-columns: 50% 50% !important;
    }
    .m-grid-3{
        display: grid !important;
        grid-template-rows: auto !important;
        justify-content: center !important;
        justify-items: center !important;
        grid-template-columns: 33.33% 33.33% 33.33% !important;
    }
    .m-grid-4{
        display:grid !important;
        grid-template-columns: 25% 25% 25% 25% !important;
        grid-template-rows: auto !important;
        justify-content: center !important;
        justify-items: center !important;
    }
    .m-grid-5{
        display:grid !important;
        grid-template-columns: 20% 20% 20% 20% 20% !important;
        grid-template-rows: auto !important;
        justify-content: center !important;
        justify-items: center !important;
    }
    .m-grid-1 > *, .m-grid-2 > *, .m-grid-3 > *, .m-grid-4 > *, .m-grid-5 > *{
        display: flex !important;
        justify-content: center !important;
        justify-items: center !important;
    }
    /* (MOBILE) ------------ Animation ------------ */
    .m-zoom, .m-shrink, .m-twist-r, .m-twist-l, .m-slide-r, .m-slide-l, .m-slide-u, .m-slide-d{
        transition: .25s all ease-in-out !important;
    }
    .m-zoom:hover{
        transform: scale(1.15) !important;
    }
    .m-shrink:hover{
        transform: scale(0.85) !important;
    }
    .m-twist-r:hover{
        transform: rotateZ(25deg) !important;
    }
    .m-twist-l:hover{
        transform: rotateZ(-25deg) !important;
    }
    .m-slide-r:hover{
        transform: translateX(10px) !important;
    }
    .m-slide-l:hover{
        transform: translateX(-10px) !important;
    }
    .m-slide-u:hover{
        transform: translateY(-10px) !important;
    }
    .m-slide-d:hover{
        transform: translateY(10px) !important;
    }
    .m-pulse:hover{
        animation: pulse 1s infinite !important;
    }
    @keyframes m-pulse {
        from { transform: scale(1) !important; }
        50% { transform: scale(0.85) !important; }
        to { transform: scale(1) !important; }
    }
    .m-shake:hover{
        animation: shake 1s infinite !important;
    }
    @keyframes m-shake {
        from { transform: rotateZ(-15deg) !important; }
        50% { transform: rotateZ(15deg) !important; }
        to { transform: rotateZ(-15deg) !important; }
    }
    .m-spin-r:hover{
        animation: spin-r 1s !important;
    }
    @keyframes m-spin-r {
        from { transform: rotate(0deg) !important; }
        to { transform: rotate(360deg) !important; }
    }
    .m-spin-l:hover{
        animation: spin-l 1s !important;
    }
    @keyframes m-spin-l {
        from { transform: rotate(0deg) !important; }
        to { transform: rotate(-360deg) !important; }
    }


    /* (MOBILE) ------------ Sections (sect) ------------ */
    .m-sect {
        height:100vh !important;
        width:100% !important;
    }

    /* (MOBILE) ------------ Background Images ------------ */
    .m-bg-par{
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        position: relative !important;
    }
}