/* ------------ Fonts (font-type) ------------ */
.font-header{
    font-family: 'Open Sans', sans-serif;
}
.font-text{
    font-family: 'Raleway', sans-serif;
}

.title{
    line-height: 100px;
}
.footer{
    background-color:#EE4266;
    color:white;
}
.logoImg{
padding: 15px 0;
}
#body{
    margin: 0 10%;
}
.codeFigure{
    background-color: #d9dce0;
    line-height: 50px;
}