<div class='align-right l-height-100 m-l-height-50 pad-right-5 font-header snow m-height-50 m-grid-3'>
    <h1 class='align-left pad-left-5 margin-right-25 font-lg f-left link-hover-subtle fixed m-relative'>
        <a href='index.html' class='link-clear'>
            <img src='media/kiinStyle.png' alt='logo' class='height-75 m-height-50 pad-horizontal-20p m-pad-0'>
        </a>
    </h1>
    <h1 class='margin-5 m-margin-0 font-lg d-inline link-hover m-margin-top-10p'>
        <a class='link-clear snow' href='index.html'>Home</a>
    </h1>
    <h1 class='m-margin-0 font-lg d-inline link-hover m-margin-top-10p'>
        <a class='link-clear snow' href='documentation.html'>Documentation</a>
    </h1>
</div><br>