<div class='align-right l-height-100 m-l-height-50 pad-right-5'>
    <h1 class='snow font-header align-left pad-left-5 margin-right-25 font-lg f-left link-hover-subtle fixed'>
        <a href='index.html' class='link-clear logo'>
            <img src='media/kiinStyle.png' alt='logo' class='height-75 pad-20p'>
        </a>
    </h1>
    <ul class='align-right list-clear list-inline'>
        <li class='font-header font-md link-hover-subtle pad-20p'>
            <a class='link-clear snow font-lg' href='index.html'>Home</a>
        </li>
        <li class='font-header font-lgs link-hover-subtle pad-20p'>
            <a class='link-clear snow font-lg' href='documentation.html'>Documentation</a>
        </li>
    </ul>
</div><br>