<div class='align-right l-height-100 pad-right-5'>
    <h1 class='snow font-header align-left pad-left-5 margin-right-25 font-lg f-left link-hover-subtle fixed'>
        <a href='index.html' class='link-clear logo'>
            <img src='media/kiinStyle.png' alt='logo' class='height-75 pad-20p'>
        </a>
    </h1>
    <h1 class='margin-0 snow font-header align-right pad-left-5 font-lg d-inline link-hover'>
        <a class='link-clear snow' href='documentation.html'>Documentation</a>
    </h1>
</div><br>