<!-- FOOTER -->
<div class=' align-center snow bg-trans'>
<ul class='list-inline'>
    <li class='pad-50p'>
        <a href='https://www.linkedin.com/in/juri-kiin/' class='link-clear snow'>
            <i class="fa fa-lg fa-linkedin" aria-hidden="true"></i>
        </a>
    </li>
    <li class='pad-50p'>
        <a href='https://github.com/JuriKiin' class='link-clear snow'>
            <i class="fa fa-lg fa-github" aria-hidden="true"></i>
        </a>
    </li>
</ul>
<span class='l-height-50 font-text'>Developed by Jüri Kiin</span>
</div>