<!-- FOOTER -->
<div class='align-center snow pad-20p'>
<ul class='list-inline list-clear'>
    <li class="margin-10p">
        <a href='https://www.linkedin.com/in/juri-kiin/' class='link-clear snow'>
            <i class="fa fa-lg fa-linkedin" aria-hidden="true"></i>
        </a>
    </li>
    <li class="margin-10p">
        <a href='https://github.com/JuriKiin' class='link-clear snow'>
            <i class="fa fa-lg fa-github" aria-hidden="true"></i>
        </a>
    </li>
</ul>
<span class='l-height-50 item-100 align-center font-sm'>Developed by Jüri Kiin</span>
</div>